body{
    font-family: sans-serif;
}

/* % Palindromo  */
.my-pali-bg{
    background-color: rgb(250, 196, 252);
}

#my-output-pali{
    width: 200px;
    height: 50px;
    line-height: 50px;
    color: red;
    background-color: yellow;
    text-align: center;
    
}

/* & Even or odd style */
.my-even-odd-bg{
    background-color: aquamarine;
}

.my-box{
    width: 130px;
    height: 130px;
    vertical-align: middle;
    text-align: center;
    border-radius: 10%;
    
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.my-box-blue{
    background-color: rgb(108, 172, 255);
}

.my-box-red{
    background-color: red;
}



