body{
    font-family: sans-serif;
}

/* % Palindromo  */
.my-pali-bg{
    background-color: lightblue;
}

#my-output-pali{
    width: 200px;
    height: 50px;
    color: red;
    background-color: yellow;
    vertical-align: middle;
    text-align: center;
    
}

/* & Even or odd style */
.my-even-odd-bg{
    background-color: aquamarine;
}

.my-box{
    width: 100px;
    height: 100px;
    vertical-align: middle;
    text-align: center;
    border-radius: 10%;
}

.my-box-bg{
    background-color: rgb(32, 19, 218);
}

#my-score{
    background-color: red;
}


