
#my-output-pali{
    width: 200px;
    height: 50px;
    color: red;
    background-color: yellow;
    line-height: 50px;
    text-align: center;
}

#my-score{
    background-color: red;
}

.my-box{
    width: 100px;
    height: 100px;
}

.my-box-bg{
    background-color: lightblue;
}